$backgroundImage: '/typo3conf/ext/standorte/Resources/Public/img/bg.gif';
$highlightColor: #dee1e7;

.tx-standorte {
	form {
		fieldset {
			border: 0;
			legend {
				display: none;
			}
		}
	}
	.datahead {
		float: left;
		margin-bottom: 10px;
		width: 100%;
	}
	.list {
		border-bottom: 1px solid $highlightColor;
		dt {
			float:left;
			width:156px;
			padding: 3px 3px 3px 0;
		}
		dd {
			margin-left:160px;
			width:380px;
			padding: 3px;
		}
		dl {
			margin-bottom:2px;
			width:auto;
			clear:both;
			float:left;
		 }
		.sigel {
			float: right;
			font-size: 70%;
		}
		.open {
			margin-left:3px;
			color: green;
		}
		 .closed {
			color: red;
			margin-left:3px;
		 }
		.wochentag {
			width:136px;
			float:left;
		}
		.status {
			margin-bottom: 4px;
		}
	}
	.standorte-infobox {
		font-size: 0.8em;
		line-height: 1.5em;
	}
	.highlight {
		background-color: $highlightColor;
	}
	.singleLibrary {
		.details {
			#map {
				height: 300px;
				width: 486px;
			}
			float: left;
			width: 70%;
			.karte {
				display: none;
				margin-left: 0;
				width: 80%;
				height: 18em;
			}
			a {
				&.map {
					text-decoration: underline;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
		.list {
			border-bottom: 1px solid $highlightColor;
			padding-bottom: 1.5em;
			margin-bottom: 1.5em;
			.metainfo {
				display: table;
				.businesshours {
					display: table-cell;
					width: 50%;
				}
				.contact {
					display: table-cell;
					width: 50%;
					padding-left: 2em;
				}
			}
		}
	}
}