<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/typo3conf/ext/standorte/Resources/Public/Js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
    
	$(document).ready(function() {
	$("#daten").tablesorter();

		$('.icons .delete').click(function(){

			if (confirm('Datensatz loeschen?')) {
				window.location($(this).children('a').attr('href'));
			}
			else{
				return false;
			}
		});
    }
); 

</script> 