{namespace standorte=Tx_Standorte_ViewHelpers}

<f:if condition="{institutskatalog}">
	<f:then>
		<br />
		<standorte:typolink typolink="{institutskatalog}" linktext="<f:translate key='institutskatalog'/>" />

	</f:then>
</f:if>
<f:if condition="{katalog}">
	<f:then>
		<br />
		<f:if condition="{katalogteilweise}">
			<f:then>
				<f:translate key="katalogteilweise" />
			</f:then>
			<f:else>
				<f:translate key="bestandenthalten" />
			</f:else>
		</f:if>
		<standorte:typolink typolink="{katalog}" linktext="GUK" />
		<f:translate key="enthalten" />
	</f:then>
</f:if>