{namespace sub=Tx_TmplSub_ViewHelpers}

<article class="list details" id="c{bibo.uid}" lat="{bibo.lat}" lon="{bibo.lon}">

	<h2>{bibo.titel}<f:if condition="{bibo.sigel}"> <span class="sigel" title="{f:translate(key:'bibliothekssigel')}"><f:render partial="sigel" arguments="{sigel: bibo.sigel}"/></span></f:if></h2>

			<!-- Anschrift -->
			<f:if condition="{bibo.strasse}">
				<f:format.html>{bibo.strasse}<br /><f:if condition="{bibo.adresszusatz}"><f:then>{bibo.adresszusatz}<br /></f:then></f:if>{bibo.plz} {bibo.ort}</f:format.html>
					<f:format.html><a class="map" id="cl-{bibo.uid}" title="{f:translate(key:'maptitle')}"><f:translate key="karte" /></a></f:format.html>
				<div id="map-{bibo.uid}" class="karte"></div>
				<f:if condition="{bibo.extlink}">
					<f:format.html><f:link.external uri="{bibo.extlink}" title="{f:translate(key:'biblink')} {bibo.titel}">{bibo.titel}</f:link.external></f:format.html>
				</f:if>
			</f:if>
			<!-- /Anschrift -->

			<!--Oeffnungszeiten-->
			<h3><f:translate key="oeffnung" /></h3>
			<f:format.html>{bibo.oeffnungszeiten}</f:format.html>
			<!--/Oeffnungszeiten-->

			<!-- Kontakt -->
			<h3><f:translate key="kontakt" /></h3>
			<f:format.html>{bibo.ansprechpartner}</f:format.html>
			<!-- /Kontakt -->

			<!-- Bestand -->
			<f:if condition="{bibo.bestand}">
				<h3><f:translate key="bestand" /></h3>
				<p class="bodytext">{bibo.bestand}
				<f:render partial="bestand" arguments="{institutskatalog:bibo.institutskatalog, katalog:bibo.katalog, katalogteilweise:bibo.katalogteilweise}"/>
				</p>
			</f:if>
			<!-- /Bestand -->

			<!-- Zusatzinformationen -->
			<f:if condition="{bibo.zusatzinformationen}">
				<h3><f:translate key="zusatzinformationen" /></h3>
				<f:format.html>{bibo.zusatzinformationen}</f:format.html>
			</f:if>
			<!-- /Zusatzinformationen -->

</article>