{namespace sub=Subugoe\TmplSub\ViewHelpers}
<div class="list" id="c{bibo.uid}" lat="{bibo.lat}" lon="{bibo.lon}">


    <h2>{bibo.titel}</h2>

        <f:if condition="{bibo.sigel}">
            <div class="location-detail -sigel">
                <dt><f:translate key="bibliothekssigel" /></dt>
                <dd><p class="bodytext"><f:render partial="sigel" arguments="{sigel: bibo.sigel}"/></dd>
            </div>
        </f:if>

        <f:if condition="{bibo.strasse}">
            <div class="location-detail -address">

                <dt><f:translate key="anschrift" /></dt>
                <dd><f:format.html>{bibo.strasse}<br /><f:if condition="{bibo.adresszusatz}"><f:then>{bibo.adresszusatz}<br /></f:then></f:if>{bibo.plz} {bibo.ort}</f:format.html>
                    <f:format.html><a class="map" lat="{bibo.lat}" lng="{bibo.lon}" head="{bibo.titel}" id="cl-{bibo.uid}" title="{f:translate(key:'maptitle')}"><f:translate key="karte" /></a></f:format.html>
                <div id="map-{bibo.uid}" class="karte"></div>
                <f:if condition="{bibo.extlink}">
                    <f:then>
                        <f:format.html><f:link.external uri="{bibo.extlink}" title="{f:translate(key:'biblink')} {bibo.titel}">{bibo.titel}</f:link.external></f:format.html>
                    </f:then>
                </f:if>
                </dd>
            </div>
        </f:if>

        <f:if condition="{bibo.oeffnungszeiten}">
            <div class="location-detail -hours">
                <dt><f:translate key="oeffnung" /></dt>
                <dd><f:format.html>{bibo.oeffnungszeiten}</f:format.html></dd>
            </div>
        </f:if>

        <f:if condition="{bibo.ansprechpartner}">
            <div class="location-detail -contact">

                <dt><f:translate key="kontakt" /></dt>
                <dd><f:format.html>{bibo.ansprechpartner}</f:format.html></dd>
            </div>
        </f:if>

        <f:if condition="{bibo.bestand}">
            <div class="location-detail -contents">
                <dt><f:translate key="bestand" /></dt>
                <dd><p class="bodytext">{bibo.bestand}
                    <f:render partial="bestand" arguments="{institutskatalog:bibo.institutskatalog, katalog:bibo.katalog, katalogteilweise:bibo.katalogteilweise}"/>
                </p>
                </dd>
            </div>
        </f:if>

        <f:if condition="{bibo.zusatzinformationen}">
            <div class="location-detail -additional">
                <dt><f:translate key="zusatzinformationen" /></dt>
                <dd><f:format.html>{bibo.zusatzinformationen}</f:format.html></dd>
            </div>
        </f:if>

    </dl>
</div>
