
<f:be.container pageTitle="Standorte">
	<div style="padding:10px">
<!--		<div style="float:right" >
			<f:be.menus.actionMenu>
				<f:be.menus.actionMenuItem label="&Uuml;bersicht" controller="Backend"
										   action="index" />
				<f:be.menus.actionMenuItem label="Fakult&auml;ten" controller="Backend"
										   action="newFakultaet" />
				<f:be.menus.actionMenuItem label="Bibliotheken" controller="Backend"
										   action="newbibo" />
			</f:be.menus.actionMenu>
		</div>-->
		<div>
			<f:be.pageInfo /> -
			<f:be.pagePath />
		</div>
		<h1 style="text-align: left">{backend}</h1>
		<f:render section="backend" />
	</div>
</f:be.container>
