{namespace fed=Tx_Fed_ViewHelpers}

<fed:script src="typo3conf/ext/standorte/Resources/Public/Js/*.js" />

<f:layout name="Default" />

<f:section name="bibos">
	<form id="filter-form">
		<fieldset>
			<legend><f:translate key="bibliothek-filter" /></legend>
			<label for="filter"><f:translate key="bibliothek-filter" /></label> <input name="filter" id="filter" value="" maxlength="30" size="30" type="search">
		</fieldset>
	</form>
	<br />

	<table id="daten">
		<thead>
			<tr>
				<th><f:translate key="bibliothekssigel" /></th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
		<f:for each="{bibos}" as="bibo">
			<tr>
				<td>
					<f:if condition="{bibo.sigel}">
						<f:then>
							7/{bibo.sigel}
						</f:then>
					</f:if>
				</td>
				<td>
					<f:link.action pluginName="showLibrary" arguments="{bibliothek:bibo}">{bibo.titel}</f:link.action>
				</td>
			</tr>

		</f:for>
		</tbody>
	</table>
</f:section>
