{namespace fed=Tx_Fed_ViewHelpers}

<fed:script src="typo3conf/ext/standorte/Resources/Public/Js/*.js" />

<f:layout name="defaultLayout" />

<f:section name="bibos">
	<form id="filter-form"><f:translate key="bibliothek-filter" />
		<input name="filter" id="filter" value="" maxlength="30" size="30" type="text">
	</form>
	<br />

	<table id="daten">
		<thead>
			<tr>
				<th>Sigel</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
		<f:for each="{bibos}" as="bibo">
			<tr>
				<td>
					<f:if condition="{bibo.sigel}">
						<f:then>
							7/{bibo.sigel}
						</f:then>
					</f:if>
				</td>
				<td>
					<f:link.action action="single" controller="Bibliothek" pluginName="pi2" arguments="{bibliothek:bibo}">{bibo.titel}</f:link.action>
				</td>
			</tr>

		</f:for>
		</tbody>
	</table>
</f:section>
