<f:layout name="defaultLayout" />

<f:section name="bibos">
	<f:for each="{bibos}" as="bibo">
		<div class="list">

			<h2>{bibo.titel}</h2>
			<dl>
				<dt>Bibliothekssigel</dt>
				<dd>7/{bibo.sigel}</dd>
			</dl>
			<dl>
				<dt>Fakult&auml;t</dt>
				<dd>{fakultaet.titel}</dd>
			</dl>
			<dl>
				<dt>Anschrift</dt>
				<dd>{bibo.strasse}<br />{bibo.plz} {bibo.ort}</dd>
			</dl>
			<dl>
				<dt>Kontakt</dt>
				<dd>{bibo.telefon}</dd>
			</dl>
			<dl>
				<dt>&Ouml;ffnungszeiten</dt>
				<dd>{bibo.oeffnungszeiten}</dd>
			</dl>
			<dl>
				<dt>Bibliotheksbeauftragte</dt>
				<dd><f:format.html>{bibo.ansprechpartner}</f:format.html></dd>
			</dl>
			<dl>
				<dt>Best&auml;nde</dt>
				<dd>{bibo.bestand}<br />
				<f:link.external uri="{bibo.institutskatalog}">
					Institutskatalog
				</f:link.external><br />
				<f:link.external uri="{bibo.katalog}">
					Katalog
				</f:link.external>
				</dd>
			</dl>
		</div>

	</f:for>

</f:section>