<!-- $Id$ -->

<f:layout name="defaultLayout" />

<f:section name="bibos">

	<div class="list" id="bibliothek-{bibo.uid}" lat="{bibo.lat}" lon="{bibo.lon}">

		<!-- Bild -->
		<f:render partial="bild" arguments="{bild: bibo.bild,titel: bibo.titel}"/>
		<!-- /Bild -->

		<h2>{bibo.titel}</h2>

		<f:if condition="{bibo.extlink}">
			<f:then>
				<f:link.external uri="{bibo.extlink}">Link zur {bibo.titel}</f:link.external>
			</f:then>
		</f:if>
		<dl>
			<!-- Sigel -->
			<dt><f:translate key="bibliothekssigel" /></dt>
			<dd><p class="bodytext"><f:render partial="sigel" arguments="{sigel: bibo.sigel}"/> ({bibo.fakultaet.titel})
			</dd>
			<!-- /Sigel -->

			<!-- Anschrift -->
			<dt><f:translate key="anschrift" /></dt>
			<dd><p class="bodytext">{bibo.strasse}<br />
			<f:if condition="{bibo.adresszusatz}">
				<f:then>
						{bibo.adresszusatz}
					<br />
				</f:then>
			</f:if>
					{bibo.plz} {bibo.ort}</p>
			<a class="map" id="cl-{bibo.uid}"><f:translate key="karte" />
				<div id="map-{bibo.uid}" class="karte"></div></a>
			</dd>
			<!-- /Anschrift -->

			<!--Oeffnungszeiten-->
			<dt><f:translate key="oeffnung" /></dt>
			<dd>
			<f:format.html>{bibo.oeffnungszeiten}</f:format.html>
			</dd>
			<!--/Oeffnungszeiten-->

			<!-- Kontakt -->
			<dt><f:translate key="kontakt" /></dt>
			<dd><f:format.html>{bibo.ansprechpartner}</f:format.html></dd>
			<!-- /Kontakt -->

			<!-- Bestand -->
			<f:if condition="{bibo.bestand}">
				<f:then>
					<dt><f:translate key="bestand" /></dt>
					<dd><p class="bodytext">{bibo.bestand}
					{namespace standorte=Tx_Standorte_ViewHelpers}

					<f:if condition="{bibo.institutskatalog}">
						<f:then>
							<br />
							<standorte:typolink typolink="{bibo.institutskatalog}" linktext="<f:translate key='institutskatalog'/>" />

						</f:then>
					</f:if>
					<f:if condition="{bibo.katalog}">
						<f:then>
							<br />
							<f:if condition="{bibo.katalogteilweise}">
								<f:then>
									<f:translate key="katalogteilweise" />
								</f:then>
								<f:else>
									<f:translate key="bestandenthalten" />
								</f:else>
							</f:if>
							<standorte:typolink typolink="{bibo.katalog}" linktext="GUK" />
							<f:translate key="enthalten" />
						</f:then>
					</f:if>
					</p>
					</dd>
				</f:then>
			</f:if>
			<!-- /Bestand -->

			<!-- Zusatzinformationen -->
			<f:if condition="{bibo.zusatzinformationen}">
				<f:then>
					<dt><f:translate key="zusatzinformationen" /></dt>
					<dd><f:format.html>{bibo.zusatzinformationen}</f:format.html></dd>
				</f:then>
			</f:if>
			<!-- /Zusatzinformationen -->

		</dl>
	</div>
</f:section>