<f:layout name="backendLayout" />

<f:section name="backend">
	<h2>Fakult&auml;ten</h2>
	<f:be.tableList tableName="tx_standorte_domain_model_fakultaet"
					fieldList="{0: 'titel'}"
					storagePid="1184" levels="2" recordsPerPage="10"
					sortField="titel" sortDescending="true" readOnly="false"
					enableClickMenu="true" clickTitleMode="info"
					alternateBackgroundColors="true" />

	<f:link.action action="newFakultaet" controller="Backend">
		<!--<f:be.buttons.icon uri="{f:uri.action(action='new')}" icon="new_el" title="Neue Fakult&auml< anlegen" />-->

			Neue Fakult&auml;t anlegen
	</f:link.action>

	<h2>Bibliotheken</h2>
	<f:be.tableList tableName="tx_standorte_domain_model_bibliothek"
					fieldList="{0: 'titel', 1: 'sigel'}"
					storagePid="1184" levels="2" recordsPerPage="10"
					sortField="titel" sortDescending="true" readOnly="false"
					enableClickMenu="true" clickTitleMode="info"
					alternateBackgroundColors="true" />
	<p>
	<f:link.action action="newBibo" controller="Backend">
			Neue Bibliothek anlegen
	</f:link.action>
</p>
</f:section>