<f:layout name="Backend"/>
<f:section name="backend">


	<h2>Fakultäten</h2>
	<f:be.tableList tableName="tx_standorte_domain_model_fakultaet"
					fieldList="{0: 'titel'}"
					storagePid="{f:cObject(typoscriptObjectPath:'lib.tx_standorte.storagePid')}"
					levels="2" recordsPerPage="10"
					sortField="titel" sortDescending="false" readOnly="false"
					enableClickMenu="true" clickTitleMode="edit"
					alternateBackgroundColors="true"/>

	<h2>Bibliotheken</h2>
	<f:be.tableList tableName="tx_standorte_domain_model_bibliothek"
					fieldList="{0: 'sigel', 1: 'titel', 2: 'fakultaet'}"
					levels="2" recordsPerPage="100"
					storagePid="{f:cObject(typoscriptObjectPath:'lib.tx_standorte.storagePid')}"
					sortField="sigel" sortDescending="false" readOnly="false"
					enableClickMenu="true" clickTitleMode="edit"
					alternateBackgroundColors="true"/>

</f:section>
