<f:layout name="backendLayout" />

<f:section name="backend">

<f:be.buttons.icon uri="http://w3d.local/typo3/alt_doc.php?returnUrl=mod.php%3F%26M%3Dweb_list%26id%3D1184&edit[tx_standorte_domain_model_fakultaet][{f:cObject(typoscriptObjectPath:'lib.tx_standorte.storagePid')}]=new" icon="new_el" title="Neue Fakultaet anlegen" />
Neue Fakult&auml;t
<table>
	<f:for each="{fakultaeten}" as="fakultaet">
		<tr>
			<td><f:be.buttons.icon uri="http://w3d.local/typo3/alt_doc.php?returnUrl=mod.php%3F%26M%3Dweb_StandorteTxStandorteM1%26id%3D{f:cObject(typoscriptObjectPath:'lib.tx_standorte.storagePid')}&edit[tx_standorte_domain_model_fakultaet][{fakultaet.uid}]=edit&tx_standorte_web_standortetxstandortem1[action]=listFakultaeten&tx_standorte_web_standortetxstandortem1[controller]=Backend" icon="edit2" title="{fakultaet.titel} bearbeiten" />
		</td>
		<td><f:be.buttons.icon uri="{f:uri.action(action:'deleteFakultaet')}" icon="deletedok" title="{fakultaet.titel} löschen" /></td>
		<td><strong>{fakultaet.titel}</strong> <br />
		<f:link.action action="listBibliothekenByFakultaet" controller="Backend" arguments="{fakultaetUid:fakultaet.uid}">&raquo; Alle {fakultaet.anzahlBibliotheken} zugeh&ouml;rigen Bibliotheken</f:link.action>
		</td>
		</tr>
	</f:for>
</table>
</f:section>