<f:layout name="backendLayout" />

<f:section name="backend">
	<h1 style="text-align: left">{backend}</h1>
	<h3>Neue Fakultaet hinzuf&uuml;gen</h3>

	<f:form method="post" name="fakultaet" action="createFakultaet" object="{fakultaet}">

		<f:form.errors for="fakultaet">
			<div style="background-color: black; padding: 12px;border:1px solid red">
				<b>{error.propertyName}</b>
				<f:for each="{error.errors}" as="fieldError">
					<div>{fieldError.code}: {fieldError.message}</div>
				</f:for>
			</div>
		</f:form.errors>

		<label for="titel">Titel</label>
		<f:form.textbox property="titel" size="25" />

		<f:form.submit value="Eintragen" />
	</f:form>
</f:section>